.bg-black{
    background-color: black;
}

.height-50{
    height: 50px;
}

.clr-white{
    color: white;
}

.margin-top-small{
    margin-top: 2rem;
}

.margin-top-medium{
    margin-top: 4rem;
}

.margin-top-big {
    margin-top: 6rem;
}

.header-header {
    padding: 1rem 0;
  }
  
  .main-content {
    margin-top: 2rem;
  }
  
  .product {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1rem 0;
  }
  
  .product-detail {
    padding: 0 2rem;
  }
  
  .product-price {
    font-weight: bold;
    font-size: 140%;
  }